<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Flexibiliteit</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Code regiostraal</label>
      <div class="ml-3">
        <p>{{codeRegiostraal}}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Indicatie onregelmatig werk of ploegendienst</label>
      <div class="ml-3">
        <p>{{indicatieOnregelmatigWerkOfPloegendienst}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Datum aanvang beschikbaar voor werk</label>
      <div class="ml-3">
        <p>{{datumAanvangBeschikbaarVoorWerk}}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Datum einde beschikbaar voor werk</label>
      <div class="ml-3">
        <p>{{datumEindeBeschikbaarVoorWerk}}</p>
      </div>
    </div>
  </div>
</div>
