<div class="row mb-3">
  <div class="col-3">
    <h2 class="mb-2">Contactgegevens</h2>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <app-email-match-detailed [data]="emailadresses"></app-email-match-detailed>
    <app-telefoon-match-detailed [data]="telefoonnummers"></app-telefoon-match-detailed>
  </div>


  <div class="col-3">
    <app-webadres-match-detailed [data]="data"></app-webadres-match-detailed>
  </div>

  <div class="col-6">
    <app-contactpersoon-werkzoekende-detailed [data]="data"></app-contactpersoon-werkzoekende-detailed>
  </div>


</div>









