<div [formGroup]="form">
  <div class="row mb-3">
    <div class="col-3">
      <h3 class="mb-2">Bemiddelingsberoep</h3>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-secondary btn-sm float-right mt-1 "
              (click)="addBeroep()">
        <add-item-svg></add-item-svg>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div formArrayName="bemiddelingsberoep" *ngFor="let beroepControl of t.controls; let i=index">
        <div [formGroupName]="i">
          <div class="row">
            <div class="col-10">
              <app-beroep-form
                (formReady)="updateBeroep($any(beroepControl), $event)"></app-beroep-form>
            </div>
            <div class="col-1 align-self-center">
              <button type="button" class="btn btn-outline-danger" (click)="removeBeroep(i)">
                <remove-item-svg></remove-item-svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
