<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Aanduiding bij huisnummer</label>
      <div class="ml-3">
        <p>{{aanduidingBijHuisnummer}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">Huisletter</label>
      <div class="ml-3">
        <p>{{huisletter}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">Huisnummer</label>
      <div class="ml-3">
        <p>{{huisnummer}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">Huisnummertoevoeging</label>
      <div class="ml-3">
        <p>{{huisnummertoevoeging}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">Naam openbare ruimte</label>
      <div class="ml-3">
        <p>{{naamOpenbareRuimte}}</p>
      </div>
    </div>
  </div>

  <div class="col-6">

    <div>
      <label class="form-label">Straatnaam</label>
      <div class="ml-3">
        <p>{{straatnaam}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">woonbootverwijzing</label>
      <div class="ml-3">
        <p>{{woonbootverwijzing}}</p>
      </div>
    </div>

    <div>
      <label class="form-label">woonwagenverwijzing</label>
      <div class="ml-3">
        <p>{{woonwagenverwijzing}}</p>
      </div>
    </div>
  </div>

</div>
