<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Werktijden</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <label class="form-label border-bottom">Aantal werkuren per week minimaal</label>
    <div class=" ml-3">
      <p> {{aantalWerkurenPerWeekMinimaal}}</p>
    </div>
  </div>

  <div class="col-6">
    <div>
      <label class="form-label border-bottom">Indicatie kantoortijden</label>
      <div class=" ml-3">
        <p> {{indicatieKantoortijden}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label border-bottom">Aantal werkuren per week maximaal</label>
      <div class=" ml-3">
        <p> {{aantalWerkurenPerWeekMaximaal}}</p>
      </div>
    </div>
  </div>
</div>
