<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Mobiliteit</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <label class="form-label">Bemiddelingspostcode</label>
    <div class="ml-3">
      <p>{{bemiddelingspostcode}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Maximale reisafstand (km)</label>
      <div class="ml-3">
        <p>{{maximaleReisafstand}}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Maximale reistijd (min)</label>
      <div class="ml-3">
        <p>{{maximaleReistijd}}</p>
      </div>
    </div>
  </div>
</div>

