<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Arbeidsvoorwaarden</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Datum aanvang werkzaamheden</label>
      <div class=" ml-3">
        <p> {{datumAanvangWerkzaamheden}}</p>
      </div>
    </div>
    <div>
      <label class="form-label">Datum einde werkzaamheden</label>
      <div class=" ml-3">
        <p> {{datumEindeWerkzaamheden}}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Salaris indicatie</label>
      <div class=" ml-3">
        <p> {{salarisIndicatie}}</p>
      </div>
    </div>
  </div>
</div>
