<div class="row mb-2">
  <div class="col-3">
    <h2 class="mb">Taalbeheersing</h2>
  </div>
</div>
<div>
  <div *ngFor="let taalbeheersing of taalbeheersingen">
    <div class="row align-items-center mb-5">
      <div class="col-4">
        <label class="form-label"> Code taal</label>
        <div class="ml-2">
          <p>{{taalbeheersing.codeTaal}}</p>
        </div>
      </div>
      <div class="col-4">
        <div>
          <label class="form-label"> Taalbeheersing mondeling</label>
          <div class="ml-2">
            <p>{{taalbeheersing.codeNiveauTaalbeheersingMondeling}}</p>
          </div>
        </div>
        <div>
          <label class="form-label"> Taalbeheersing schriftelijk</label>
          <div class="ml-2">
            <p>{{taalbeheersing.codeNiveauTaalbeheersingSchriftelijk}}</p>
          </div>
        </div>
        <div>
          <label class="form-label"> Taalbeheersing lezen</label>
          <div class="ml-2">
            <p>{{taalbeheersing.codeNiveauTaalbeheersingLezen}}</p>
          </div>
        </div>
        <div>
          <label class="form-label"> Taalbeheersing luisteren</label>
          <div class="ml-2">
            <p>{{taalbeheersing.codeNiveauTaalbeheersingLuisteren}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

