<div class="row">
  <div class="col-12">
    <div *ngFor="let contactpersoon of contactpersonen">
      <div class="row">
        <div class="col-7">

          <label class="form-label">Naam contactpersoon</label>
          <div class="ml-3">
            <p>{{contactpersoon.naamContactpersoonAfdeling}}</p>
          </div>
          <label class="form-label">Telefoonnummer contactpersoon</label>
          <div class="ml-3">
            <p>{{contactpersoon.telefoonnummer}}</p>
          </div>
          <label class="form-label">Emailadres contactpersoon</label>
          <div class="ml-3">
            <p>{{contactpersoon.emailadres}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>








