<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Eis aan werk</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <label class="form-label">Indicatie aanpassing werkomgeving</label>
    <div class="ml-3">
      <p>{{indicatieAanpassingWerkomgeving}}</p>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Indicatie begeleiding</label>
      <div class="ml-3">
        <p>{{indicatieBegeleiding}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Indicatie werkvariatie</label>
      <div class="ml-3">
        <p>{{indicatieWerkvariatie}}</p>
      </div>
    </div>
  </div>
</div>

