<div class="row">
  <div class="col-12">
    <h2 class="mb-3">Algemene gegevens</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div>
      <label class="form-label">Code werk en denkniveau minimaal</label>
      <div class=" ml-3">
        <p> {{codeWerkEnDenkniveauMinimaal}}</p>
      </div>
    </div>
    <div>
      <label class="form-label">Indicatie LDR registratie</label>
      <div class=" ml-3">
        <p> {{indicatieLdrRegistratie}}</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <label class="form-label">Sluitingsdatum vacature</label>
      <div class=" ml-3">
        <p> {{sluitingsDatumVacature}}</p>
      </div>
    </div>
  </div>
</div>


